.grid-container {
  display: grid;
  grid-template-columns: 1fr; /* mobile: 1 column */
  gap: 20px;
}

.post-card {
  border: 1px solid #ddd;
  border-radius: 10px;
  background: white;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
  transition: "0.2s",
}

/* tablet & desktop */
@media (min-width: 768px) {
  .grid-container {
    grid-template-columns: repeat(3, 1fr); /* 2 columns */
  }
}


.post-link-style{
  font-size: 21px;
  font-family: "Roboto Slab", serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: 500;
  color: black;
  text-decoration: none;
}