/*css for example posts*/

.container{
    max-width: 700px;
    width: 80%;
    display: block;
    margin: 0 auto;
    padding: 10px 8px;
}
.link-style{
    font-size: 16px;
    font-family: "Rubik", sans-serif;
    font-style: normal;
    font-weight: 400;
    text-decoration: none;
    color: blueviolet;
}
.link-style:hover{
    color: black;
    transition: 0.5s ease;
    text-decoration: underline;
    opacity: 1;
}